.vault_pass
*.retry
__pycache__/
.env
.DS_Store
group_vars/all/credentials.yml
/playbooks/command_outputs/
/playbooks/firewalls_backups/
/playbook_latest/create_localuser.yml
/device_state/
/playbook_latest/device_state/
/playbook_latest/snapshots/
